extends ../layout.jade

block title
  title Merchant list

block content
  h1
    | Merchant list

  if items.length
    .list-group
      each item in items
        a.list-group-item(href="/products?merchant_id=#{item.id}") #{item.name}
  else
    | Merchant list empty
