extends ../layout.jade

block title
  title Product list

block content
  h1 Product list

  if products.length
    each product, i in products
      .col-xs-3.col-sm-3
        #{product.name}
  else
    | product list empty
