extends ../layout.jade

block title
  title Product list

block content
  h1 Product list
  h1 #{yo}

  if corrected_q
    h3
      | Did you mean 
      b
        | #{corrected_q}
      | ?
      | If so, we showing results..

  if products.length
    each product, i in products
      include _product
  else
    | Product list empty
