extends ../layout.jade

block title
  title Product list

block content
  h1 Product list

  each product, i in [{name: 123}, {name: 123}, {name: 123}, {name: 123}]
    .col-xs-3.col-sm-3
      | product #{product.name}
