extends ../layout.jade

block title
  title Product list

block content
  block pageHeader
    h1
      | Product list
      if q
        |, found for "#{q}"


  if corrected_q
    h3
      | Did you mean 
      b
        | "#{corrected_q}"
      | ?
      | If so, we show you some results..

  if products.length
    each products_row in products
      .row.product-row
        each product in products_row
          include _product
  else
    | Product list empty
